.practiceWords {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.practiceWordCard {
  flex-basis: 2;
  border-style: solid;
  border-color: #000;
  border-width: 5px;
  padding: 10px;
}

.pwcorrect, .pwIncorrect, .practiceWords h4 {
  font-family: Nurom;
}

.practiceWords h4 {
  font-size: 25px;
}